# exclude top level directories
# which are taken from other git repositories
# The / at the beginning is important, otherwise all directories
# containing the string are ignored 
/geometry
/input
/parameters
/build

# Comment some single files
Dart*.cfg
*.root
*.pdf
*.orig
*.out
*.old
*core_dump*
*.digi.par
*0
*1
*.info
*~
external*
